<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        placeholder="Title"
        ngModel
        minlength="3"
        required
        #title="ngModel"
      />

      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        placeholder="Content"
        name="content"
        ngModel
        required
        #content="ngModel"
      ></textarea>

      <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
    </mat-form-field>
    <button type="submit" color="accent" mat-raised-button>Save post</button>
  </form>
</mat-card>
